.LocaleSwitcher {
  cursor: pointer;
  background: var(--promateusz-dark-white);
  color: var(--promateusz-dark);
  border: none;
  border-bottom: 3px solid var(--promateusz-accent);
  font-weight: 600;
  font-size: 1rem;
  transition:
    var(--promateusz-standard-transition-time) scale ease-in-out,
    var(--promateusz-standard-transition-time) translate ease-in-out;
  &:hover {
    scale: 1.1;
    translate: 0 -7%;
  }
}
