.Loader {
  --promateusz-loader-size: 200px;
  --promateusz-pole-color: var(--promateusz-dark);
  --promateusz-flag-color: var(--promateusz-secondary-accent);
  --promateusz-mountain-color: var(--promateusz-white);
  position: absolute;
  inset: calc(50% - var(--promateusz-loader-size) / 2);
  height: var(--promateusz-loader-size);
  width: var(--promateusz-loader-size);

  .Wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: var(--promateusz-accent);
  }

  .Wrapper div,
  .Wrapper div::after,
  .Wrapper div::before {
    position: absolute;
  }

  .Mountain {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid var(--promateusz-mountain-color);
    bottom: 0;
    left: 0;
  }

  .Mountain::after {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid var(--promateusz-mountain-color);
    bottom: -170px;
    left: -130px;
    content: "";
  }

  .Mountain::before {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid var(--promateusz-mountain-color);
    bottom: -200px;
    left: -50px;
    content: "";
  }

  .Flag {
    width: 4px;
    height: 0;
    background: var(--promateusz-pole-color);
    top: 54px;
    left: calc(50% - 2px);
    animation: pole 10s linear infinite;
  }

  .Flag::after {
    content: "";
    height: 0;
    width: 0;
    left: 8px;
    top: 0;
    border-top: 8px solid var(--promateusz-flag-color);
    border-bottom: 8px solid var(--promateusz-flag-color);
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    animation: tip 10s linear infinite;
  }

  .Flag::before {
    content: "";
    height: 16px;
    width: 0;
    background: var(--promateusz-flag-color);
    top: 0;
    left: 4px;
    animation: flag 10s linear infinite;
  }

  .Dash {
    height: 10px;
    width: 3px;
    background: var(--promateusz-accent);
    opacity: 0;
    animation: dash 10s linear infinite;
  }
  .Dash1 {
    top: 60px;
    left: 100px;
    transform: rotate(-10deg);
    animation-delay: 1.8s;
  }
  .Dash2 {
    top: 74px;
    left: 100px;
    transform: rotate(10deg);
    animation-delay: 1.6s;
  }
  .Dash3 {
    top: 88px;
    left: 96px;
    transform: rotate(20deg);
    animation-delay: 1.4s;
  }
  .Dash4 {
    top: 102px;
    left: 93px;
    transform: rotate(0deg);
    animation-delay: 1.2s;
  }
  .Dash5 {
    top: 116px;
    left: 96px;
    transform: rotate(-20deg);
    animation-delay: 1s;
  }
  .Dash6 {
    top: 130px;
    left: 102px;
    transform: rotate(-30deg);
    animation-delay: 0.8s;
  }
  .Dash7 {
    top: 144px;
    left: 109px;
    transform: rotate(-20deg);
    animation-delay: 0.6s;
  }
  .Dash8 {
    top: 158px;
    left: 112px;
    transform: rotate(-10deg);
    animation-delay: 0.4s;
  }
  .Dash9 {
    top: 172px;
    left: 113px;
    transform: rotate(0deg);
    animation-delay: 0.2s;
  }
  .Dash10 {
    top: 186px;
    left: 112px;
    transform: rotate(10deg);
    animation-delay: 0s;
  }
}

@keyframes pole {
  0% {
    height: 0;
    top: 54px;
  }
  20% {
    height: 0;
    top: 54px;
  }
  30% {
    height: 30px;
    top: 24px;
  }
  70% {
    height: 30px;
    top: 24px;
  }
  80% {
    height: 0;
    top: 54px;
  }
}

@keyframes dash {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag {
  30% {
    width: 0;
  }
  35% {
    width: 10px;
  }
  60% {
    width: 10px;
  }
  65% {
    width: 0;
  }
}

@keyframes tip {
  31% {
    border-right: 0 solid transparent;
    left: 8px;
  }
  37% {
    border-right: 8px solid transparent;
    left: 14px;
  }
  58% {
    border-right: 8px solid transparent;
    left: 14px;
  }
  64% {
    border-right: 0 solid transparent;
    left: 8px;
  }
}
