.Main {
  width: clamp(60vw, 600px, 100vw);
  background-color: var(--promateusz-white);
  min-height: calc(100vh - 100px);
  box-shadow: 0 0 160px 60px var(--promateusz-tertiary-accent);
  padding: 0 0 100px;
  container: main / normal;
}
