.Offer {
  padding-inline: min(60px, 5vw);
  a {
    font-family: "Merriweather", serif;
    color: var(--promateusz-accent);
    &:hover {
      color: var(--promateusz-secondary-accent);
    }
  }
}
