header {
  padding: 10px 20px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  inset-inline: 0;

  .Menu {
    position: absolute;
    top: calc(50vh - 75px);
    inset-inline: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
    .ContactData {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .ActivePath {
      color: var(--promateusz-accent);
      pointer-events: none;
    }

    .Decoration:before {
      content: "|";
      position: relative;
      color: var(--promateusz-secondary-accent);
      left: -15px;
      top: -1px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 30px;
      justify-content: center;

      li {
        margin: 0;
        padding: 0;

        a {
          font-weight: 600;
        }
      }
    }
  }

  .Hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover .Bar {
      background-color: var(--promateusz-accent);
    }
    .Bar {
      padding: 0;
      width: 30px;
      background-color: var(--promateusz-dark);
      height: 4px;
      display: block;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      position: absolute;

      &:first-of-type {
        top: 0;
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        top: 13.5px;
      }

      &:nth-of-type(3) {
        right: 0;
      }

      &:nth-of-type(4) {
        bottom: 0;
      }
      &:first-of-type,
      &:last-of-type {
        transform-origin: 5%;
      }
    }
  }

  &.Open {
    .Bar {
      background-color: var(--promateusz-secondary-accent);
      &:first-of-type {
        transform: rotate(45deg);
        height: 3px;
        width: 42px;
      }
      &:nth-of-type(2) {
        transform: rotate(-270deg);
        background-color: transparent;
      }
      &:nth-of-type(3) {
        transform: rotate(270deg);
        background-color: transparent;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        height: 3px;
        width: 42px;
      }
    }
    .Header {
      height: 100vh;
      width: 100vw;
      border-radius: 0;
    }
    .Menu {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.4s ease-in-out 0.5s;
    }
  }

  svg {
    height: 18px;
  }

  .Header {
    right: 0;
    background-color: var(--promateusz-white);
    overflow: hidden;
    top: 0;
    position: absolute;
    transition:
      height 0.8s ease-in-out,
      width 0.8s ease-in-out,
      border-radius 0.8s ease-in-out;
    height: 0;
    width: 0;
    border-radius: 0 0 0 10000px;
  }
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
