.Gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 5px;
  transition: 0.3s;

  .Title {
    grid-column: 1 / span 2;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;

    .Title {
      grid-column: unset;
    }
  }

  .Links {
    display: flex;
    justify-content: center;
    gap: 10px;
    a {
      padding: 10px 20px;
    }
  }

  .Wrapper {
    overflow: hidden;
    height: 200px;
    max-height: 200px;
  }

  .Photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;

    @media (pointer: fine) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
