.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--promateusz-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  .Logo {
    width: 80px;
    max-width: calc((100vw - 80px) / 5);
    max-height: calc((100vw - 80px) / 5);
    border-radius: 50%;
    z-index: 1;
  }
}
