/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  --promateusz-dark: #1d1d1d;
  --promateusz-light: #eaeaea;

  --promateusz-accent: #6b26ba;

  --promateusz-primary: var(--promateusz-light);
  --promateusz-secondary: var(--promateusz-dark);

  --promateusz-standard-transition-time: 0.3s;

  &.dark {
    --promateusz-accent: #8012ff;
    --promateusz-primary: var(--promateusz-dark);
    --promateusz-secondary: var(--promateusz-light);
  }
  transition: var(--promateusz-standard-transition-time) background-color;
  line-height: 1;
  background-color: var(--promateusz-primary);
  color: var(--promateusz-secondary);
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  min-height: 100vh;
}

h1 {
  color: var(--promateusz-accent);
  text-align: center;
}
