.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;

    li {
      margin: 0;
      padding: 0;
      a {
        color: var(--promateusz-secondary);
        display: inline-block;
        text-decoration: none;
        transition: 0.3s color;
        font-weight: 600;
        padding-bottom: 4px;
        &:hover {
          color: var(--promateusz-accent);
        }
        &.ActivePath {
          border-bottom: 3px solid var(--promateusz-accent);
        }
      }
    }
  }
  .Switchers {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
